<app-toolbar titulo="Mapa de Visitas">
</app-toolbar>

<ion-content>

    <div id="mapId" style="width: 100%; height: 100%">
    </div>
    <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]=15>
        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
            <agm-info-window>
                <div id=info>
                    <strong>ID Visita: {{m.id}}</strong>
                    <p>Fecha: {{m.date}}</p>
                    <p>Propietario: {{m.propietario}}</p>
                    <p>Visita Realizada: {{m.done}}</p>
                    <div class="container">
                        <ion-button class="container__button" [routerLink]="['/inicio/visitas-agendadas']" (click)="navigateHouse()" [color]="bg">Ver</ion-button>
                    </div>
                </div>
            </agm-info-window>
        </agm-marker>
    </agm-map> -->
</ion-content>