<app-toolbar titulo="Generar visita"></app-toolbar>
<ion-content>
    <ion-tabs class="tabs">
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="general" selected=true>
                <ion-icon name="home"></ion-icon>
                <ion-label>General</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="ubicacion">
                <ion-icon name="location"></ion-icon>
                <ion-label>Ubicación</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="fisico">
                <ion-icon name="stats-chart"></ion-icon>
                <ion-label>Físico</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="predio">
                <ion-icon name="clipboard"></ion-icon>
                <ion-label>Predio</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>