<ion-content [ngClass]="this.classloading">
    <div class="home">
        <h1 class="home__titulo">Prediapp</h1>
    </div>
    <div>
        <form class="login" novalidate [formGroup]="user">
            <label class="login__labelinput">
                <span>Usuario</span>
                <input class="login__labelinput__inputTypes" type="text" formControlName="name">
            </label>
            <label class="login__labelinput">
                <span>Contraseña</span>
                <input class="login__labelinput__inputTypes" type="password" formControlName="password">
            </label>
            <button class="button" type="submit" [disabled]="user.invalid" (click)="onSubmit()">Iniciar Sesión</button>
        </form>
    </div>
</ion-content>
<div class="loading" *ngIf="this.loading">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>