<ion-content [ngClass]="this.classloading">
    <div class="home">
        <h1 class="home__titulo">Prediapp</h1>
    </div>
    <div>
        <form class="register" novalidate [formGroup]="user">
            <label class="register__labelinput">
        <span>Usuario</span>
        <input class="register__labelinput__inputTypes" type="text" formControlName="name" />
      </label>
            <label class="register__labelinput">
        <span>Correo</span>
        <input class="register__labelinput__inputTypes" type="email" formControlName="correo" />
      </label>
            <label class="register__labelinput">
        <span>Código Empresa</span>
        <input class="register__labelinput__inputTypes" type="text" pattern="\d*" formControlName="codigo_empresa" />
      </label>
            <label class="register__labelinput">
        <span>Contraseña</span>
        <input class="register__labelinput__inputTypes" type="password" formControlName="password" />
      </label>
            <label class="register__labelinput">
        <span>Confirmar Contraseña</span>
        <input class="register__labelinput__inputTypes" type="password" formControlName="password_confirm" />
      </label>
            <div class="checkboxAnswer">
                <ion-checkbox *ngIf="!this.loading"> </ion-checkbox>
                <p>Acepto los términos y condiciones para el tratamiento de datos</p>
            </div>
            <button class="button" type="submit" (click)="onSubmit()">
        Registrar
      </button>
        </form>
    </div>
</ion-content>
<div class="loading" *ngIf="this.loading">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>