<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center">PrediApp</ion-title>
        <ion-buttons slot="start" class="button">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="SplashScreen">

</div>

<ion-menu side="start" content-id="main-content">
    <div class="container">
        <img src="../assets/rick.png" class="dot" alt="Avatar">
        <div class="container__text">
            <p>Andrés A. Andrade</p>
            <p>Administrador</p>
        </div>
    </div>

    <ion-content class="drawer">
        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item class="ionItem" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                    <ion-icon class="ionIcon" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label class="ionLabel">{{ p.title }}</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
    <p class="bottomText">Prediapp - All Right Reserved</p>
</ion-menu>

<app-noticias class="homeScreen"></app-noticias>