.homeScreen {
    width: 100%;
    height: 100%;
}

ion-header button,
.back-button {
    position: absolute !important;
    z-index: 5;
}

.button {
    pointer-events: all;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.drawer {
    pointer-events: all;
}

.container {
    justify-items: self-end;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    height: 236px;
    background: linear-gradient(to top, #003973, #e5e5be);
    &__text {
        margin-top: 10px;
        text-align: center;
        width: 120px;
    }
}

.bottomText {
    display: flex;
    justify-content: center;
    font-size: 9px;
    color: #4a4343;
}

.ionIcon {
    color: black
}

.dot {
    height: 108px;
    width: 108px;
    background-image: src;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    -webkit-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.75);
}

.ionItem {
    margin-left: 25px;
}

.ionLabel {
    color: #4a4343;
    margin-left: 10px;
}