<app-toolbar titulo="Visitas Asignadas"></app-toolbar>

<ion-content>
    <div class="body">
        <div class="body__card">
            <p class="body__card__title">Visitas por realizar</p>
            <div *ngIf="this.loading">
                <ion-list>
                    <ion-item *ngFor="let item of [1,1,1]">
                        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>
            <div *ngIf="!this.loading">
                <div class="body__card__form" [routerLink]="['/inicio/generar-visita']">
                    <p class="body__card__form__title">Calle 52G No 35 - 25 sur</p>
                    <span>Matrícula Inmobiliaria: 050N-654654</span><br>
                    <span>Encargado: José Felipe Mondragon</span>
                    <hr color="grey">
                </div>
            </div>
        </div>
        <div class="body__card">
            <p class="body__card__title">Visitas realizadas</p>
            <div *ngIf="this.loading">
                <ion-list>
                    <ion-item>
                        <ion-skeleton-text animated style="width: 27px; height: 27px" slot="start"></ion-skeleton-text>
                        <ion-label>
                            <h3>
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                            </h3>
                            <p>
                                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                            </p>
                            <p>
                                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>
            <div *ngIf="!this.loading">
                <div *ngFor="let item of aspecto_general" class="body__card__form" [routerLink]="['visita', item.matricula_inmobiliaria]">
                    <p class="body__card__form__title">{{item.direccion}}</p>
                    <span>Matrícula Inmobiliaria: {{item.matricula_inmobiliaria}}</span><br>
                    <span>Encargado: {{item.nombre}}</span>
                    <hr color="grey">
                </div>
            </div>

        </div>
    </div>
</ion-content>